<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
                                                                                                                      </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>

    <services>
      <service name="WcfServer.AuthService">
        <endpoint address="" contract="WcfServer.IAuthService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
    <service name="WcfServer.ClockService">
        <endpoint address="" contract="WcfServer.IClockService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
      <service name="WcfServer.companiesService">
        <endpoint address="" contract="WcfServer.IcompaniesService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
      <service name="WcfServer.ReportsService">
        <endpoint address="" contract="WcfServer.IReportsService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
    <service name="WcfServer.RoleService">
        <endpoint address="" contract="WcfServer.IRoleService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
      <service name="WcfServer.ShiftRequestService">
        <endpoint address="" contract="WcfServer.IShiftRequestService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
      <service name="WcfServer.ShiftsBoardService">
        <endpoint address="" contract="WcfServer.IShiftsBoardService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
      <service name="WcfServer.ShiftService">
        <endpoint address="" contract="WcfServer.IShiftService" binding="webHttpBinding"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding"></endpoint>
      </service>
    </services>
     <!--       
         <services>
      <service name="WcfServer.AuthService" behaviorConfiguration="myBehaviorConfiguration">
        <endpoint contract="WcfServer.IAuthService" binding="basicHttpBinding"></endpoint>
      </service>
    </services>
     <service name="WcfServer.companiesService" behaviorConfiguration="myBehaviorConfiguration">
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
        <endpoint contract="WcfServer.IcompaniesService" binding="basicHttpBinding"></endpoint>
      </service>
      <service name="WcfServer.ClockService" behaviorConfiguration="myBehaviorConfiguration">
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"></endpoint>
        <endpoint contract="WcfServer.IClockService" binding="basicHttpBinding"></endpoint>
      </service>
    </services> -->

    <behaviors>
      <serviceBehaviors>
        <behavior name="myBehaviorConfiguration">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="Easy2MEntities" connectionString="metadata=&quot;res://*/easy2m Model.csdl|res://*/easy2m Model.ssdl|res://*/easy2m Model.msl&quot;;provider=System.Data.SqlClient;provider connection string=&quot;data source=easy2mdb.database.windows.net;initial catalog=Easy2M;user id=nok;password=xyx4wqCb;multipleactiveresultsets=True;application name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="StorageConnectionString"
    connectionString="DefaultEndpointsProtocol=https;AccountName=nokstorage;AccountKey=xWzIHHH2J4jdbtJd9FfwatBsLhR4Zgx8/iWiiVGJ9pEGjLpkNxvb9Iqhld0WhaBN2Hat8sOcDOKnpc1bh74Zqw==;EndpointSuffix=core.windows.net" />
</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>